
$colorTelusPurple: #4b286d;
$colorTelusGreen: #66cc00;
$colorAccessibleGreen: #2b8000;
$colorWhite: #ffffff;

/* Grey Color Palette */
$colorGreyShark: #2a2c2e;
$colorGreyShuttle: #54595f;
$colorGreyRaven: #71757b;
$colorGreyGainsboro: #d8d8d8;
$colorGreyAthens: #f7f7f8;

/* Exceptions */
$colorLavenderBlush: #fff6f8;
$colorPanache: #f4f9f2;
$colorWhiteLilac: #f2eff4;
$colorCardinal: #c12335;
$colorRajahDark: #8c5415;
$colorRajah: #faca69;
$colorRajahLight: #fff9ee;
$colorGreyBackground: #f0f2f5;

/* Ant Design Colors */
$blueAntDesign: #1890ff;
$orangeAntDesign: #f56a00;
$purpleAntDesign: #7265e6;
$lightBlueAntDesign: #00a2ae;
$yellowAntDesign: #ffbf00;

/* Figma Suggestions */
$softPurple: #846c97;

/* border pagination color */
$borderPaginationColor: #d9d9d9;
